<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="~{fragments/head :: common-head}"></th:block>

<body>
<!-- Include Header -->
<th:block th:replace="~{fragments/header :: header}"></th:block>

<!-- Profile section -->
<section class="profile">
    <!-- User information container -->
    <div class="profileContainer">

        <!-- User image -->
        <div class="profile-left">
            <div class="profile-img-wrap story-border" th:onclick="'popup(\'.modal-image\')'">

                <form id="userProfileImageForm">
                    <input type="file" name="profileImageFile" style="display: none;" id="userProfileImageInput"/>
                </form>
                <img class="profile-image" th:src="@{'/upload/' + ${dto.user.profileImageUrl}}" onerror="this.src='/images/person.png'" id="userProfileImage"/>
            </div>
        </div>
        <!-- User image end -->

        <!-- User information and buttons (photo upload, subscribe) -->
        <div class="profile-right">
            <div class="name-group">
                <h2 th:text="${dto.user.name}"></h2>

                <span th:if="${dto.pageOwnerState}">
                    <a class="cta" th:href="@{/image/upload}">사진등록</a>
                </span>
                <span th:unless="${dto.pageOwnerState}">
                    <span th:if="${dto.subscribeState}">
                    <button class="cta blue" th:onclick="'toggleSubscribe(' + ${dto.user.id} + ', this)'">구독취소</button>


                    </span>
                    <span th:unless="${dto.subscribeState}">
                    <button class="cta" th:onclick="'toggleSubscribe(' + ${dto.user.id} + ', this)'">구독하기</button>

                    </span>
                </span>

                <button class="modi" th:onclick="'popup(\'.modal-info\')'">
                    <i class="fas fa-cog"></i>
                </button>
            </div>

            <div class="subscribe">
                <ul>
                    <li><a href="">게시물 <span th:text="${dto.imageCount}"></span></a></li>
                    <li><a href="#" th:onclick="'subscribeInfoModalOpen(' + ${dto.user.id} + ')'">구독정보 <span
                            th:text="${dto.subscribeCount}"></span></a></li>

                </ul>
            </div>
            <div class="state">
                <h4 th:text="${dto.user.bio}"></h4>
                <h4 th:text="${dto.user.website}"></h4>
            </div>
        </div>
        <!-- User information and buttons end -->

    </div>
</section>
<!-- Profile section end -->

<!-- Post section -->
<section id="tab-content">
    <div class="profileContainer">
        <div id="tab-1-content" class="tab-content-item show">
            <div class="tab-1-content-inner">

                <!-- Items (posts) -->
                <!--                                <div class="img-box">
                                                    <a href=""><img th:src="@{/images/home.jpg}" /></a>
                                                    <div class="comment">
                                                        <a href="#" class=""><i class="fas fa-heart"></i><span>0</span></a>
                                                    </div>
                                                </div>-->

                <div class="img-box" th:each="image : ${dto.user.images}">
                    <a href="">
                        <img th:src="@{'/upload/' + ${image.postImageUrl}}" alt="Image"/>
                    </a>
                    <div class="comment">
                        <a href="#" class=""><i class="fas fa-heart"></i><span th:text="${image.likeCount}"></span></a>
                    </div>
                </div>

                <!-- Items end -->
            </div>
        </div>
    </div>
</section>
<!-- Post section end -->

<!-- Logout and user info change modal -->
<div class="modal-info" th:onclick="'modalInfo()'">
    <div class="modal">
        <button th:onclick="|location.href='@{/user/1/update}'|">회원정보 변경</button>
        <!--        <button th:onclick="|location.href='@{/user/{id}/update(id=${#authentication.principal.user.id})}'|">회원정보 변경</button>-->
        <button th:onclick="|location.href='@{/logout}'|">로그아웃</button>
        <button onclick="closePopup('.modal-info')">취소</button>
    </div>
</div>
<!-- Logout and user info change modal end -->

<!-- Profile image change modal -->
<div class="modal-image" th:onclick="'modalImage()'">
    <div class="modal">
        <p>프로필 사진 바꾸기</p>
<!--        <button th:onclick="'profileImageUpload(' + ${dto.user.id} + ',' + ${principal.user.id} + ', this)'">사진 업로드</button>-->
        <button th:onclick="'profileImageUpload(' + ${dto.user.id} + ', ' + ${#authentication.principal.user.id} + ')'">
        사진 업로드
        </button>

        <button onclick="closePopup('.modal-image')">취소</button>
    </div>
</div>
<!-- Profile image change modal end -->

<!-- Subscribe info modal -->
<div class="modal-subscribe">
    <div class="subscribe">
        <div class="subscribe-header">
            <span>구독정보</span>
            <button onclick="modalClose()">
                <i class="fas fa-times"></i>
            </button>
        </div>

        <!-- 구독 취소 js -->
        <div class="subscribe-list" id="subscribeModalList">

        </div>
    </div>
</div>
<!-- Subscribe info modal end -->

<script th:src="@{/js/profile.js}"></script>

<!-- Including footer -->
<footer th:replace="~{fragments/footer :: footer}"></footer>

</body>
</html>
